<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <%- include("./partials/header.ejs") %>

        <div class="about-section">
            <div class="about-content">
                <div class="image-container">
                    <img src="/images/dp.jpg" alt="Your Image" class="profile-image">
                </div>
                <div class="bio">
                    <h2 class="intro">Hey! This is Aditya Raj!</h2>
                    <p class="intro-text">I am a passionate software developer dedicated to creating efficient, scalable, and innovative
                        solutions. With a background in engineering and a love for problem-solving, I strive to
                        continuously learn and adapt to new technologies and methodologies. I am committed to delivering
                        high-quality software products that exceed expectations and drive positive impact.</p>
                </div>
            </div>
        </div>

        <%- include("./partials/footer.ejs") %>
</body>

</html>